

.code_editor_css_js textarea{
    background-color: rgba(7, 1, 30, 0.777);
    color:#fff;
    padding:1rem;
    border:1px solid green;
    border-radius: 10px;
    min-height: 70vh;
    width: 100%;
}